<div class="container">
    <table class="table">
        <tr>
            <th>Имя</th>
            <th>Имя</th>
            <th>Имя</th>
        </tr>
        @each((days, index) in scenario)
        <tr>
            <td>{{index + 1}}</td>
            <td>Day {{index + 1}}</td>
            <td><a href="{{ route('admin.scenario.edit', {day: index + 1}) }}">Edit</a></td>
        </tr>
        @endeach
    </table>
</div>